<div class="py-5" *ngIf="!companyDescription || !latestPrice || !dailyData || !hisctoricalData || !newsData; else elseBlock1">
   <mat-spinner class="mx-auto" diameter=70 strokeWidth=5></mat-spinner>
</div>

<ng-template #elseBlock1>
   <div class="col-lg-8 col-11 mx-auto px-0" *ngIf="tickerNotExists; else elseBlock2">
      <div class="alert alert-danger text-center mt-5" role="alert">
         No results found. Please enter valid Ticker
      </div>
   </div>
   
   <ng-template #elseBlock2>
      <div class="col-lg-8 col-11 mx-auto px-0 pt-3" >
         <!-- first row, Ticker & Last Price -->
         <app-general 
            [companyDescription]="companyDescription" 
            [lastPrice]="lastPrice" 
            [change]="change"
            [changePercent]="changePercent" 
            [curTimeStamp]="curTimeStamp" 
            [changeStatus]="changeStatus"
            [popBuyEvent]='popBuyEvent.asObservable()'
            (buyOnClick) = "open(content)"
         ></app-general>
         <!-- Buy Button Pop up -->
         <ng-template #content let-modal>
            <div class="modal-header" ngbAutofocus>
               <div>
                  <h5 class="modal-title">{{companyDescription.ticker}}</h5>
               </div>
               <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body px-4">
               <div>Current Price: {{lastPrice | number : '1.2-2'}}</div>
               <div class="form-inline">
                  <label class="mr-1" for="inlineNumberInput">Quantity</label>
                  <input class="form-control" type="number" id="inlineNumberInput" [(ngModel)]="buyQuantity">
               </div>
            </div>
            <div class="modal-footer d-flex">
               <div class="mr-auto">Total:{{calculateTotal(buyQuantity) | number : '1.2-2'}}</div>
               <button type="button" class="btn btn-success" (click)="buyOnClick()" [disabled]="!buyQuantity || !isQuantityCorrect(buyQuantity)">Buy</button>
            </div>
         </ng-template>
         <!-- Market Status -->
         <div class="row mt-2 mb-3">
            <div class="mx-auto" *ngIf="isMarketOpen" id="market-open">Market is Open</div>
            <div class="mx-auto" *ngIf="!isMarketOpen" id="market-closed">Market Closed on {{dataTimeStamp}}</div>
   
         </div>
         <!-- Material Tabs -->
         <mat-tab-group animationDuration="0ms" mat-align-tabs="center" mat-stretch-tabs>
   
            <!-- Summary Tab -->
            <mat-tab label="Summary">
               <ng-template matTabContent>
                  <app-summary 
                     [latestPrice]="latestPrice" 
                     [companyDescription]="companyDescription" 
                     [dailyData]="dailyData"
                     [changeStatus]="changeStatus"
                     [isMarketOpen]="isMarketOpen"
                     *ngIf="latestPrice && companyDescription && dailyData">
                  </app-summary>
               </ng-template> 
   
            </mat-tab>
            <mat-tab label="Top News">
               <app-news
                  [newsData]='newsData'>
               </app-news>
            </mat-tab>
            <mat-tab label="Charts">
               <ng-template matTabContent>
                  <app-charts-component
                     [hisctoricalData]="hisctoricalData"
                     [ticker]="tickerUrlParam">
                  </app-charts-component>
               </ng-template>
            
            </mat-tab>
         </mat-tab-group>
      </div>
   </ng-template>
   
   
</ng-template>