.alert {
   color: black;
   font-size: 0.8rem;
}
.ticker, .last-price {
   font-size: 1.8rem;
   font-weight: 500;
}
.company-name, .change {
   font-size: 1rem;
   font-weight: 500;
}
.card button {
   z-index: 2;
   position: relative;
}