.card-header {
   font-size: 1.8rem
}
.company-name {
   font-size: 1.3rem;
}
.header-link {
   display: block;
   font-weight: 500;
}
.card {
   font-size: 1.1rem;
}
.card-footer .btn {
   font-size: 0.8rem;
}
.alert {
   color: black;
   font-size: 0.8rem;
}